* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

html {
  font-size: 62.5%; /* for 1rem=10px */
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(90deg, rgba(255, 247, 173, 0.5019257703081232) 0%, rgba(255, 169, 249, 0.7456232492997199) 50%, rgba(255, 247, 173, 0.5047268907563025) 100%);
  overflow-x: hidden;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

/**************************************************/
.navbar {
  padding-top: 1rem;
  margin-top: 2rem;
  border-radius: 8rem;
  background-color: rgba(255, 255, 255, 0.7);
}

a {
  color: #f87e8d !important;
  text-decoration: none !important;
  font-family: "marseille";
  font-weight: bold;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  padding: 0.90rem;
  align-items: center;
}

h1 {
  font-family:"hey-eloise", sans-serif;
  text-align: center;
  color: #d20062;
  font-size: 12rem;
  font-weight: bolder;
  line-height: 0.8;
  letter-spacing: 1rem;
  margin-top: 5rem;
  padding: 0 3rem;
}

h2 {
  font-family:"hey-eloise", sans-serif;
  text-align: center;
  color: #d20062;
  font-size: 10rem;
  line-height: 0.9;
  margin-top: 5rem;
  padding: 0.9rem;
}

p {
  font-family: "marseille";
  color: rgb(248, 126, 141);
  text-align: center;
  font-size: 2.4rem;
  padding: 3rem;
  margin-top: 3rem;
}

.mobile-menu-io-buttons {
  width: 3rem;
  height: 3rem;
  background-image: url("img/close-icon.svg");
  background-size: cover;
  border: none;
  background-color: transparent;
  margin-left: auto;
  margin-top: 0.5rem;
  margin-right: 2rem;
  display: block;
}

#mobile-menu .mobile-menu-io-buttons {
  background-image: url("img/burger-icon.svg");
  width: 4rem;
  height: 4rem;
}

#mobile-menu ul {
  display: none;
}

#mobile-nav-menu {
  background-color: rgba(255, 255, 255, 0.76);
  position: fixed;
  top: 0;
  transform: translateY(-100%);
  transition: 0.7s;
  left: 0;
  width: 100vw;
  padding-top: 0.6rem;
}

#mobile-nav-menu li {
  list-style-type: none;
  font-size: 1.5rem;
}

#fotome {
  border-radius: 200px 200px 0px 0px;
  padding: 2rem;
  margin-top: 0;
  width: 96%;
  margin-left: 0.8em;
}

#city {
  font-family:"hey-eloise", sans-serif;
  text-align: start;
  color: rgb(48, 203, 136);
  font-size: 3.4rem;
  margin-left: 3.1rem;
  margin-top: -3rem;
  line-height: 1;
  padding-left: 0.2rem;
  padding-bottom: 0;
}

#country{
  font-size: 3.5rem;
}

#temperature {
  font-size: 3.5rem;
}

#remotely {
  font-family:"hey-eloise", sans-serif;
  text-align: center;
  color: rgb(48, 203, 136);
  font-size: 3.5rem;
  padding: 0;
  margin-left: 0;
  margin-top: -0.8rem;
}

#experience {
  font-size: 1.9rem;
  padding: 1.6em !important;
  text-align: left;
  color: rgb(180, 42, 58);
  margin-top: -3.4rem;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.social-links a img {
  width: 6rem;
  height: auto;
}

#bg {
  max-width: 102% !important;
  margin-top: 17rem;
}

#bgSolid {
  margin-top: -1rem;
  max-width: 102% !important;
  height: 110rem;
}

#skil {
  max-width: 85% !important;
  margin-top: -135rem;
  margin-left: 3rem;
}

#titleScripta {
  margin-top: 8rem;
  text-align: center;
}

#titleScript {
  font-family:"hey-eloise", sans-serif;
  font-size: 2.6rem;
  color: #d20062;
  margin-top: 8rem;
  text-align: center;
  border-radius: 1rem;
  margin-bottom: 2rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  margin-left: 2rem;
}

#titleImg {
  margin-top: -0.6rem;
  max-width: 85% !important;
  margin-left: 2rem;
}

#titleGraphic {
  font-family:"hey-eloise", sans-serif;
  font-size: 3rem;
  color: #d20062;
  margin-top: 8rem;
  text-align: center;
  border-radius: 1rem;
  margin-bottom: -10rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
}

#titleGraphica {
  margin-top: 8rem;
  text-align: center;
}

#wave {
  width: 70%;
  margin-top: 5rem;
  margin-left: 7rem;
  padding-top: 7rem;
}

.work {
  margin-top: 16rem;
  width: 90%;
  margin-left: 3rem;
}

h5 {
  font-size: 2.5rem;
  justify-content: baseline;
  margin-top: 1rem;
}

#card {
  margin-top: 7rem;

}

.custom-card {
  transition: transform 0.3s, box-shadow 0.3s;
}

.custom-card:hover .card {
  transform: scale(1.05) rotate(-3deg);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#dribbble {
  display: flex;
  justify-content: center;
  margin-top: 15rem;
  align-items: center;
  gap: 0.5rem;
  margin-left: 0.3rem;
  padding-bottom: 10rem;
}

#dribbble img {
  width: 6rem;
  height: 6rem;
  margin-top: 0.5rem;
  animation: rotate 7s linear infinite;
}

@keyframes rotate {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

#dribleLink {
  font-size: 3rem;
  font-weight: lighter;
  margin-top: 0.9rem;
  text-decoration-line: underline !important;
  text-decoration-style: wavy !important;
  text-decoration-thickness: 2px !important;
  text-underline-offset: 7px !important;
  color: #474746 !important;
  padding-top: 1rem;
  transition: color 0.3s, transform 0.3s;
}

#dribleLink:hover {
  color: #f87e8d !important;
}

.container {
  margin-top: 10rem;
}

#logoelf {
  width: 20rem;
  height: 25rem;
}

#title {
  color: #f67181;
}

#messageImg {
  width: 10rem;
  height: 10rem;
  margin-top: 5rem;
  margin-left: 1rem;
}

#messageImg:hover {
  color: transparent !important;
  transform: scale(1.1);
}

#message {
  font-size: 3rem;
  font-family:"hey-eloise", sans-serif;
  letter-spacing: 0.5rem;
  margin-left: 0.5rem;
  color: #f87e8d;
}

#elfakin {
  font-family:"hey-eloise", sans-serif;
  letter-spacing: 0.6rem;
  margin-block-end: auto;
  color: #d20062;
  padding-bottom: 0;
  margin-top: 5rem;
}

footer {
  background: linear-gradient(90deg, rgba(249, 240, 158, 0.502) 0%, rgba(254, 155, 247, 0.746) 50%, rgba(255, 247, 173, 0.5047268907563025) 100%);
  
}

#footr {
  padding-top: 15rem;
}

/**********************mobil****************************/
@media (min-width: 600px) {
  #mobile-menu > .mobile-menu-io-buttons {
      display: none;
  }

  #mobile-menu ul {
      display: flex;
      justify-content: center;
      background-color: rgba(255, 255, 255, 0.641);
      width: max-content;
      margin: auto;
      padding: 0.6rem 2rem;
      gap: 1rem;
      border-radius: 5rem;
      position: fixed;
      top: 1rem;
      left: 50%;
      transform: translateX(-50%);
      z-index: 10;
  }

  #mobile-menu ul li {
      list-style-type: none;
  }

  #mobile-menu ul li a {
      font-size: 1.9rem;
  }
  
  footer{
    height: 95rem;
  }
}
 /**********************masaüstü****************************/
@media (min-width: 992px) {

  h1{
    font-size: 20rem;
    margin-top: 12rem;
  }

  h2{
    font-size: 16rem;
    margin-top: -1rem;
    padding: 1.5rem;
    letter-spacing: 1rem;
    line-height: 0.8;
  }

  .intro{
    font-size: 3.3rem;
  }

  #fotome {
    border-radius: 200px 200px 0px 0px;
    width: 90%;
    margin-left: 5rem;
    margin-top: -5rem;
    height: 62rem;
  }

  #remotely{
    margin-top: -1.3rem;
  }

  #city {
    line-height: 0.8;
    font-size: 7rem;
    padding-right: 3.5rem;
    margin-top:2rem;
  }
#temperature{
  font-size: 7rem;
}
  #country{
    font-size: 6rem;
    font-family:"hey-eloise", sans-serif !important;
  }
    #experience {
      font-size: 2.2rem;
      padding-right: 3em !important;
      text-align: left;
      color: rgb(180, 42, 58);
      margin-top: -2rem;
      line-height: 1;
      letter-spacing: 0.1rem;
      padding-left:2.9rem !important;
  }

  #intro{
    padding-left: 7rem;
    margin-top: 10rem;
  }
  .social-links {
  
    gap: 40px;
    margin-left: -38rem;
    margin-top: -4rem;
  }
  #skil {
    max-width: 60% !important;
    margin-top: -221rem;
    margin-left: 25rem;
  }
  #titleScript {
    font-size: 5rem;
    letter-spacing: 1rem;
  }

    #titleImg {
      margin-top: 2rem;
      max-width: 40% !important;
      margin-left: 35rem;
    }
    #titleGraphic {
    font-size: 5rem;
    letter-spacing: 1rem;
    margin-left: -6rem;
    }
    #bgSolid {
      height: 135rem; 
    }
    .work {
      margin-top: 16rem;
      width: 45%;
      margin-left: 40rem;
    }
    #card {
      margin-top: 7rem;
      margin-left: 13rem; 
    }
    #dribbble {
      margin-left: 10rem;
    }

    footer{
      height: 95rem;
    }


}
    

